body {
    font-family: Arial, sans-serif;
    background-image: url('headb3a.png'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: 80px;
    height: 100vh;
    overflow: 10px; /* Prevent content overflow */
}

.customer-form {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Apply a blur effect to the form background */
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
